# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/.pnp
.pnp.js

# testing
coverage

# production
build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

*.pem
*.pfx
cert_config.txt

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#.net
obj
bin

#block the UI because is under construction
RemoteNLogViewer.UI